*.DS_Store
*.log
*.vscode
venv*
res/data/conceptual-captions/images
res/data/hateful_memes_data/img
res/data/temp
*__pycache__
.python-version
res/checkpoints/*
logs
res/training_losses.png
res/data/conceptual-captions/Train_GCC-training.tsv
res/data/conceptual-captions/Validation_GCC-1.1.0-Validation.tsv
res/data/UPMC_Food-101
res/plots/*
res/data/mm-imdb/
res/experiments/*.json
res/experiments/visualizations/*
res/hyperparameter_optimization/*.json
res/attn-plots
res/experiments/old_experiment_jsons