--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
transformers==4.46.3
torchvision==0.21.0+cu124
einops
torchinfo
torchmetrics
tqdm
opencv-contrib-python
numpy
matplotlib
timm
info-nce-pytorch
ckatorch
h5py
optuna
optuna-dashboard
albumentations
easy-vqa
argcomplete
grad-cam
statsmodels
pymp-pypi
torchaudio==2.6.0+cu124
lovely-tensors
scikit-dimension
scikit-learn
pytest